html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans Regular', Arial, sans-serif;
  background: $white;
  font-size: 1.4rem;
  color: $black;
}

.header {
  background: $dark;

  &__wrapper {
    padding: 1.3rem 0 1.5rem 0;
    margin: 0 auto;
    width: 120rem;

    .select-sprint {
      float: right;
      margin-left: 1.5rem;

      &__select {
        width: 15rem;
        margin-top: 1.5rem;
      }

      &__button {
        margin-left: 1rem;
      }
    }

    .select-user {
      float: right;

      &__select {
        width: 15rem;
        margin-top: 1.5rem;
      }
    }
  }
}

.content {
  margin: 0 auto;
  width: 120rem;
  padding-bottom: 5rem;
}

.spacer {
  display: block;
  clear: both;
  height: 2rem;
}

.points {
  overflow: hidden;

  &__column {
    box-sizing: border-box;
    width: 50%;
    float: left;

    &:nth-child(1) {
      padding-right: 1.5rem;
    }

    &:nth-child(2) {
      padding-left: 1.5rem;
    }

    &__h {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    &--good {
      .point {
        border-left-color: #0b0;
      }
    }

    &--improve {
      .point {
        border-left-color: #b00;
      }
    }

    &--previous {
      .point {
        border-left-color: $light-grey;
      }
    }

    &--action-points {
      .point {
        border-left-color: #dd8000;
      }
    }
  }
}

.point {
  position: relative;
  padding: 1rem 0 1rem 1.5rem;
  margin: 1rem 0;
  border-bottom: 1px solid $light-grey;
  overflow: hidden;
  line-height: 140%;
  border-left: 2px solid;

  &:last-of-type, &:only-of-type {
    border-bottom: 0;
  }

  &__name {
    margin: .2rem 0;
    color: $light-grey;
  }

  &__notes {
    border: 1px solid #eee;
    padding: 1rem;
    margin: 1rem 0;

    &__list {
      &__item {
        padding-bottom: .5rem;
        border-bottom: 1px solid #eee;
        margin-bottom: 1rem;

        &:only-of-type, &:last-of-type {
          padding-bottom: 0;
          border-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    &__nav {
      margin-top: 1rem;
      display: flex;

      &__textbox.textbox {
        flex: 1 1 75%;
        min-width: 0 !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
      }

      &__button.button {
        flex: 1 1 25%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        text-align: center;
      }
    }
  }

  &--none {
    border: 0;
  }
}

.voting-counter {
  padding-top: 1rem;

  &__li {
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .3rem;
    background: #eeeeee;
  }
}

.voting-vote {
  margin-right: 1rem;
}

.to-right {
  float: right;
}

.to-left {
  float: left;
}

.remove-note {
  margin-left: 1rem;
}